<div class="logo">
  <div class="card " style="width: 8rem;">
    <%= image_tag("logo.png",
                  id: "user_avatar", class: "card-img-top", alt: "User avatar") %>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Menu
    </button>
    <!--  <div class="dropdown">-->
    <!--    <button class="btn btn-secondary dropdown-toggle" type="button" id="avatar_drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--      Menu-->
    <!--    </button>-->

    <!--  </div>-->
  </div>
  <div class="collapse" id="collapseExample">
    <div class="list-group w-15">
      <%= link_to "Profile", user_path(current_user.id), class: "list-group-item list-group-item-action" %>
      <a class="list-group-item list-group-item-action" href="#">Ride records</a>
      <%= link_to "Log out", logout_path, class: "list-group-item list-group-item-action", method: :delete %>
    </div>
  </div>
</div>

