<div class="row font-weight-bold text-light">

  <ul class="nav justify-content-end" style="background-color: #11294F; width: 100%;">
    <a class="mr-auto" href="/">
      <%= image_tag("logo.png", width: "165", height: "70") %>
    </a>
    <li class="nav-item my-3">
      <a class="navbar-brand">
        <%= link_to "Sign Up", signup_path, class: 'link-to-text-color'%>
      </a>
    </li>
    <li class="nav-item my-3 mr-3">
      <a class="navbar-brand">
        <%= link_to "Login", login_path, class: 'link-to-text-color'%>
      </a>
    </li>
  </ul>
<!--  <h3 class="font-italic mr-auto">RideShare</h3>-->

</div>