<div>
  <%= render 'front_nav' %>
</div>

<div id="backgroud" style="height: 100%;">
  <div class="center">
    <%=image_tag('background.png', size: "1050x700", class: "mx-auto") %>
  </div>
  <div class="center text-light py-4" id="front-text" style="display: block;">
    <p>Start sharing your daily commute right here.</p>
    <%= link_to "Sign Up", signup_path, class: 'front-link-color mr-3'%>
    <%= link_to "Login", login_path, class: 'front-link-color ml-3'%>
  </div>
</div>