<% provide(:title, 'Main page') %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="floating view">
  <div id="map"></div>

  <%= render 'avatar_card' %>

  <input class="form-control" placeholder="Where would you like to start?" type="text" id="starting_input">
  <input class="form-control" placeholder="Where would you like to go?" type="text" id="destination_input">
  <button id="go_button" class="btn btn-primary" type="button"> Go! </button>

  <%= link_to "Get a ride!", request_new_path, {remote: true,
                                                class: 'btn btn-primary btn-block'} %>

  <%= link_to "Set a drive", request_path, {remote: true,
                                            class: 'btn btn-primary btn-block'} %>

</div>

<%= render 'map_scripts' %>
