<% provide(:title, 'Main page') %>

<div class="row align-items-end">
  <div class="col-2 offset-1">
    <div class="card" style="width: 8rem;">
      <%= image_tag("rails.png",
        id: "user_avatar", class: "card-img-top", alt: "User avatar") %>
      <a href="#" id="avatar_drop" class="btn btn-primary">Menu</a>
    </div>
  </div>
  <div class="col-8">
    <%= form_for(:destination, url: '#') do |f| %>
      <%= f.text_field :position,
      class: 'form-control', placeholder: 'Where would you like to go?' %>
    <% end %>
  </div>
    <div class="col-1">
  </div>
</div>

<div class="row justify-content-center jumbotron">
  <p>
    here is a map!
  </p>
</div>

<div class="row">
  <div class="col-3 offset-3">
    <a href="#" class="btn btn-primary btn-block">Get a ride</a>
  </div>
  <div class="col-3 col-3">
    <a href="#" class="btn btn-primary btn-block">Set a drive</a>
  </div>
</div>
