<% provide(:title, 'Share Your Ride!') %>

<div class="top-menu">
  <%= render 'nav_bar' %>
</div>


<div id="map"></div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


<div class="justify-content-center">

  <%= render 'location_form' %>
</div>

<%= render 'map_scripts' %>

<%= render 'role_scripts' %>
