<!DOCTYPE html>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="row mt-4">
      <div class="col-md-4 offset-md-2">
        <p class="mt-1">License Number</p>
        <p class="mt-1">Vehicle Make</p>
        <p class="mt-1">Vehicle Model</p>
        <p class="mt-1">Vehicle Mlate</p>
      </div>
      <div class="col-md-4">
        <p class="bg-secondary text-white mb-3 rounded text-center">
          <%= best_in_place @user, :license_number, :as => :input, :place_holder => "Click to add!"%>
        </p>
        <p class="bg-secondary text-white mb-3 rounded text-center">
          <%= best_in_place @user, :vehicle_make, :as => :input, :place_holder => "Click to add!"%>
        </p>
        <p class="bg-secondary text-white mb-3 rounded text-center">
          <%= best_in_place @user, :vehicle_model, :as => :input, :place_holder => "Click to add!"%>
        </p>
        <p class="bg-secondary text-white mb-3 rounded text-center">
          <%= best_in_place @user, :vehicle_plate, :as => :input, :place_holder => "Click to add!"%>
        </p>
      </div>
    </div>
  </div>
</div>