<% provide(:title, @user.name) %>
<div class="top-menu">
  <%= render 'main_pages/avatar_button' %>
</div>
<div class="row">
  <aside class="col-md-4 side-menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </aside>
  <%= render 'profile' %>
</div>
