#avatar_drop {
  width: 100%;
  border-radius: 0 0 0.25rem 0.25rem;
}

/* Set the size of the div element that contains the map */
#map {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -10;
  height: 100%;  /* The height is full browser */
  width: 100%;  /* The width is full browser */
}

#user_avatar {
  width: 7.9rem;
  height: 7.9rem;
}

#destination_position {
  margin-bottom: 0;
}

#ride_button {
  background-color: #2E2F30;
  border-color: #777777;
}

.btn-block {
  padding: 10% 0;
  /* define values in pixels / Percentage or em. whatever suits
     your requirements */
}
.search-background {
  background-color: #e3f2fd;
}
[class*="rounded"] { border-radius: 10rem!important; }