#avatar_drop {
  width: 100%;
  border-radius: 0 0 0.25rem 0.25rem;
}

/* Set the size of the div element that contains the map */
#map {
  top: 0px;
  left: 0px;
  height: calc(100% - (3rem + 72px));  /* The height is full browser */
  width: 100%;  /* The width is full browser */
}

#user_avatar {
  width: 7.9rem;
  height: 7.9rem;
}

#destination_position {
  margin-bottom: 0;
}

#toggle-text {
  font-size: larger;
}

#ride_button {
  display: block;
  height: 100%;
  background-color: #25605c;
  border-style: none;
  border-radius: 0;
  font-size: 170%;
}

.address_input {
  position: relative;
  margin-left: 0;
  margin-right: 0;

  input {
    border-style: none;
    border-radius: 0;
  }
}

.signUpForm{
  margin-bottom: 10px;
}

#request_notice_items, #driving_notice_items {
  width: 20rem;
  position: absolute;
}

#request_notice_dropdown:hover, #driving_notice_dropdown:hover {

  .dropdown-menu {
    display: block;
  }
}
