#avatar_drop {
  width: 100%;
  border-radius: 0 0 0.25rem 0.25rem;
}

/* Set the size of the div element that contains the map */
#map {
  top: 0px;
  left: 0px;
  height: calc(100% - (3rem + 72px));  /* The height is full browser */
  width: 100%;  /* The width is full browser */
}

#user_avatar {
  width: 7.9rem;
  height: 7.9rem;
}

#destination_position {
  margin-bottom: 0;
}

#toggle-text {
  font-size: larger;
}

#ride_button {
  display: block;
  height: 100%;
  background-color: #177cb0;
  border-style: none;
  border-radius: 0;
  font-size: 150%;
  font-weight: 500;
  font-family: 'Lora', serif;
}

.address_input {
  position: relative;
  margin-left: 0;
  margin-right: 0;

  input {
    border-style: none;
    border-radius: 0;
  }
}
.signUpForm{
  margin-bottom: 10px;
}
