.menu {
    z-index: 10;
    position: absolute;
    right: 0px;
}


#user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%
}
#navbar {
  background-color: #2e7872;
  position: relative;
}
.navbar{
  padding: 0;
}

.navbar-nav {
  float:none;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}
.right {
  position: absolute;
  right: 0px;
}

.inner-nav {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
.nav{
  a {
    color: #ffffff;
  }
}
.nav-right{
  background-color: #2e7872;
  a {
    font-size: 130%;
  }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #000000;
  background-color: #ffffff;
  border-radius: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.side-menu {
  background-color: #2e7872;
  width: 165px;
  font-size: 125%;
}
