.menu {
    z-index: 10;
    position: absolute;
    right: 0px;
}


#user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%
}
#navbar {
  position: relative;
  z-index: 10;
}
.navbar{
  padding: 0;
}

.navbar-nav {
  float:none;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}
.right {
  position: absolute;
  right: 0px;
}

.inner-nav {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
.nav{
  a {
    color: #ffffff;
  }
}