// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {
  p {
    font-size: 100%;
    font-family: 'Lora', serif;
  }
}

#trip_history_table{
  thead{
    background-color: #177cb0;
    color: white;
  }
}

#right_down_panel{
  background-color: #f1f2f7;
}
