// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {
  p {
    font-size: 100%;
    font-family: 'Lora', serif;
  }
}

.table{
  thead{
    background-color: #2e7872;
    color: white;
  }
}
.card{
  background-color: #ffffff;
}

#right_down_panel{
  background-color: #f1f2f7;
}

.notice_box {
  padding: 1rem 2rem;
  width: 100%;
  margin-top: -15px;
}
