<div class="modal-header">
  Wait for a driver
</div>
<div class="modal-body">
  Hold on a moment and we'll get your ride ready!
</div>
<div class="modal-footer">
  <%= link_to "Cancel this ride", '#' %>
</div>
