<div class="modal-header" data-channel="web_notifications" data-request-id="<%= @riderequest.id %>">
  Wait for a driver
</div>
<div class="modal-body">
  Hold on a moment and we'll get your ride ready!
</div>
<div class="modal-footer">
  <%= link_to "Cancel this ride", request_path(rid: @riderequest.id), remote: true, method: :delete %>
</div>
