<div class="modal-header" data-channel="web_notifications" data-request-id="<%= @ride.id %>">
  Wait for a driver
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  Hold on a moment and we'll get your ride ready!
</div>
<div class="modal-footer">
  <%= link_to "Cancel this ride", request_path(rid: @ride.id), remote: true, method: :delete %>
</div>
