<div class="modal-header">
  Sorry!
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  There is no request available currently :(
</div>
<div class="modal-footer">
  <%= link_to "Cancel Drive", request_path(commit: "Cancel Drive"), remote: true, class: "btn btn-primary" %>
</div>
