<div class="modal-header">
  Congrads!
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <% @driver ||= driver %>
  <%= @driver.name %> has accepted your request!
</div>
